*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: black;
    align-items: center;
    padding: 20px;
}

.navLink{
    text-decoration: none;
    padding: 0px 10px;
    color: aquamarine;
}

.logo a{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color:aquamarine
}

.navLink:hover{
    background-color: #353535;
    border-radius: 10px;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding-top: 20px;
    }
    .navLink{
        font-size: 15px;
    }
}

body{
    background-color: #151515;
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
}

.imgInicio img{
    width: 450px;
    border-radius: 50%;
}

.imgInicio{
    margin: 100px;
}

.tituloInicio{
    margin:auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width:700px;
}

.tituloInicio a{
    background-color: aquamarine;
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    font-weight: bold;
}

.tituloInicio p{
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.inicio{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media(max-width:1367px){
    .inicio{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .tituloInicio{
        margin-top: 50px;
    }
    .tituloInicio p{
        font-size: 50px;
    }
}

.rutina img{
    width: 500px;
}

.aprende h3{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.rutinas{
    margin-top: 30px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media(max-width:700px){
    .rutina img{
        width: 350px;
    }
}

.container{
    height: 430px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.container .card{
    width: 350px;
    height: 450px;
    border-radius: 8px;
    overflow:hidden;
    margin:10px;
    text-align: center;
    background-color:
    rgba(127, 255, 212, 0.218);
    border: solid 5px aquamarine;
}

.container .card h3{
    font-size: 35px;
    background-color: aquamarine;
}

.container .card p{
    color: white;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 0 16px;
    font-size: 20px;
    font-weight: 300;
}

.btnPlan{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    background-color: aquamarine;
    padding: 8px;
    border-radius: 25px;
}

.tarjetasSobreMi{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.imgSobreMi{
    width: 250px;
    margin: 50px;
}

.target{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.target h3{
    font-size: 25px;
    font-weight: bold;
    color:white;
}

.target p{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
}

.sobreMi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.sobreMi .titulo{
    font-size: 20px;
    margin: 100px;
    font-weight: bold;
}

@media(max-width:900px){
    .sobreMi{
        flex-wrap: wrap;
    }
    .imgSobreMi{
        display: none;
    }

    .tarjetasSobreMi{
        gap: 30px;
    }

    .target p{
        margin-top: 10px;
        font-size: 15px;
    }
}

.formulario form{
    margin:150px 0px;
}

form{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 8px;
}

form h3{
    color:white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    font-size: 15px;
}

textarea{
    min-height: 100px;
    max-height: 100px;
    min-width: 360px;
    max-width: 360px;
}

.infoForm{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
    margin:150px 0px;
    width: 800px;
}

.infoForm p{
    margin: 30px 0px;
}

.contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media(max-width:900px){
    .infoForm{
        margin:50px;
    }
}

footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 80px;
}

footer p{
    margin: 30px;
    color: white;
}